body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 15px;
}
span{
    color: orange;
}

.flex{
    display: flex;
}
.half-width-div{
    padding-top: 5%;
    width:50%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}
.half-width-div img{
    width:70%;
   
}
.half-width-div h1{
    font-size: 25px;
    font-weight: 800;   
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    padding: 10px 40px;
    border-radius: 8px;
    
}
.topbody-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 40px;

}
.expo{
 box-shadow: 10px 10px 30px gray;
 width: 40%;
 padding:20px;
 margin-left: 5%;
 margin-right: 5%;
 margin-bottom:10%;
 text-align: justify;
 border-radius:5px;

 
}
.expo h3{
    color: orange;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    
    
}
#full-Stack-expo{
    border-left: 7px solid;
    border-image: linear-gradient(purple, orange);
    border-image-slice:2;


}
#Baby-web-expo{
    border-left: 7px solid;
    border-image: linear-gradient(blue, salmon);
    border-image-slice:1;
}
footer{
    text-align: center;
}